[submodule "private/system"]
	path = private/system
	url = https://github.com/kohana/core
[submodule "private/modules/auth"]
	path = private/modules/auth
	url = https://github.com/kohana/auth
[submodule "private/modules/cache"]
	path = private/modules/cache
	url = https://github.com/kohana/cache
[submodule "private/modules/codebench"]
	path = private/modules/codebench
	url = https://github.com/kohana/codebench
[submodule "private/modules/database"]
	path = private/modules/database
	url = https://github.com/kohana/database
[submodule "private/modules/image"]
	path = private/modules/image
	url = https://github.com/kohana/image
[submodule "private/modules/minion"]
	path = private/modules/minion
	url = https://github.com/kohana/minion
[submodule "private/modules/orm"]
	path = private/modules/orm
	url = https://github.com/kohana/orm
[submodule "private/modules/unittest"]
	path = private/modules/unittest
	url = https://github.com/kohana/unittest
[submodule "private/modules/acl"]
	path = private/modules/acl
	url = https://github.com/dmitrymomot/kohana-acl
[submodule "private/modules/breadcrumbs"]
	path = private/modules/breadcrumbs
	url = https://github.com/DimazzzZ/kohana-breadcrumbs
[submodule "private/modules/gravatar"]
	path = private/modules/gravatar
	url = https://github.com/daveWid/kohana-gravatar
[submodule "private/modules/pagination"]
	path = private/modules/pagination
	url = https://github.com/kohana/pagination
[submodule "private/modules/menu"]
	path = private/modules/menu
	url = http://github.com/b263/kohana-menu
